---
---

@import "{{ site.theme }}";
body {
  background-color: #f3dbcf;
}

hr {
  border: none;
  background: none;
  height: 0;
}

.page hr {
  display: block; /* Mantém as linhas do Markdown */
  border-top: 1px solid #ccc; /* Ou ajuste a cor desejada */
  margin: 20px 0; /* Ajuste o espaçamento */
}

